<script>

import { createEventDispatcher } from "svelte";

export let className = "input";
export let disabled = false;
export let isOpen = false;
export let loading = false;
export let name = "search";
export let placeholder = "Search";
export let required = false;
export let suggestions = [];

let search = "";

export let getSuggestedValue = (list, index) => {
  return list[index]
}

let fire = createEventDispatcher();

function close(index = -1) {
  isOpen = false;
  if(index > -1){
    search = getSuggestedValue(suggestions, index)
  }
}

function onChange(event) {
  fire("input", event.target.value)
  if(event.target.value) {
    isOpen = true;
  } else {
    close();
  }
}

</script>

<svelte:window on:click={close} />
<div class="autocomplete">
  <input
    autocomplete="off"
    class={className}
    disabled={disabled}
    name={name}
    placeholder={placeholder}
    required={required}
    type="search"
    on:input={onChange}
    bind:value={search}
  />
  <ul data-testid="autocomplete-results" class="autocomplete-results{!isOpen ? ' hide-results' : ''}">
  {#if loading}
    <li class="autocomplete-result">...Loading</li>
  {/if}
  {#each suggestions as suggestion, idx}
    <li data-testid="autocomplete-result" on:click={() => close(idx)} class="autocomplete-result">
      <slot suggestion={suggestion}>
        {@html suggestion}
      </slot>
    </li>
  {/each}
  </ul>
</div>
<style>

.autocomplete {
  position: relative;
}

.autocomplete-result {
   list-style: none;
   text-align: left;
   padding: 0.5rem 0.5rem;
   cursor: pointer;
 }

.autocomplete-results {
  padding: 0;
  margin: 0;
  overflow: auto;
  width: 100%;
  position: absolute;
  z-index: 99;
}

.hide-results {
  display: none;
}

input {
  width: 100%;
  padding: 0.5rem 0.5rem;
  margin: unset;
}

input:focus {
  outline: none!important;
}

</style>
