<script>
export let error = {};
</script>

<div class="text-center" data-testid="error-container">
  {#if error}
    {@html error.message}
  {:else}
    Wake up DP didn't work.  Maybe try again?
  {/if}
</div>
