<script>
import { data } from "emoji-flags";

export let country;

let emoji;
let flag = {};
$: flag = data.find(countryData => (countryData.name === country || countryData.code === country)) || { emoji : "&#127760;"};
$: emoji = flag.emoji || "&#127760;";

</script>


<span>{@html emoji}</span>
