<script>
import HeadToHeadCard from './HeadToHeadCard.svelte';
export let data = [];
export let empty = false;
export let loading = false;
export let state = {};

$: data = data;
</script>

{#if loading}
  <div class="text-center">...Loading</div>
{:else if empty}
  <div class="text-center mt-4 lg:mt-8">No Head to Head Record for these players was found.</div>
{:else}
  {#each data as match, idx}
    <HeadToHeadCard match={match} state={state}/>
  {/each}
{/if}
