<script>
import Flag from "./Flag.svelte";

export let match = {
  Id: null,
  EventID: null,
  CompletedAt: null,
  PlayerOneId: null,
  PlayerTwoId: null,
  PlayerOneScore: null,
  PlayerTwoScore: null,
  WinnerId: null,
  BracketRound: null,
  FullRoundText: "",
  Tournamentname: "",
  EventName: "",
  PlayerOneName: "",
  PlayerTwoName: "",
  PlayerOnePrefix: "",
  PlayerTwoPrefix: "",
  PlayerOneCountry: "",
  PlayerTwoCountry: ""
};
export let state = {
  playerOne: null,
  playerTwo: null
};

let winner;

/*
In DB, we are preserving the Player order from the tournament
For displaying H2H sets, we want to always match the search order,
to hopefully be less confusing when looking through a long list
So this is a fast way to just flip those values if we see that
The LHS of the search plane does not match the Player One in response
*/
if(state.playerOne !== match.PlayerOneId) {
  match = {
    Id: match.Id,
    EventID: match.EventId,
    CompletedAt: match.CompletedAt,
    PlayerOneId: match.PlayerTwoId,
    PlayerTwoId: match.PlayerOneId,
    PlayerOneScore: match.PlayerTwoScore,
    PlayerTwoScore: match.PlayerOneScore,
    WinnerId: match.WinnerId,
    BracketRound: match.BracketRound,
    FullRoundText: match.FullRoundText,
    Tournamentname: match.Tournamentname,
    EventName: match.EventName,
    PlayerOneName: match.PlayerTwoName,
    PlayerTwoName: match.PlayerOneName,
    PlayerOnePrefix: match.PlayerTwoPrefix,
    PlayerTwoPrefix: match.PlayerOnePrefix,
    PlayerOneCountry: match.PlayerTwoCountry,
    PlayerTwoCountry: match.PlayerOneCountry
  };
}
if(match.WinnerId === match.PlayerOneId) {
  winner = "player-one"
} else if(match.WinnerId === match.PlayerTwoId) {
  winner = "player-two"
}
if(!(match.PlayerOneScore) && !(match.PlayerTwoScore)) {
  if(winner === "player-one") {
    match.PlayerOneScore = "W"
    match.PlayerTwoScore = "L"
  } else if(winner === "player-two"){
    match.PlayerOneScore = "L"
    match.PlayerTwoScore = "W"
  }
}
</script>

<div class="w-full lg:max-w-full lg:flex mx-auto mb-4 lg:mb-8">
  <div class="w-full border-r border-b border-l border-t border-gray-800 lg:border-gray-800 rounded-b p-2 flex flex-col justify-between leading-normal bg-paper mx-auto">
    <div class="round-text"><span>{match.FullRoundText}</span></div>
    <div class="tournament-event-text"><span>{match.Tournamentname} - {match.EventName}</span></div>
    <div class="grid grid-cols-11 mb-4 gap-2">
      <div class="text-right col-span-4">
        <Flag country={match.PlayerOneCountry}/>
        <span data-testid="player-one-prefix" class="text-gray-500">{match.PlayerOnePrefix ? match.PlayerOnePrefix + " ": ""}</span>
        <span data-testid="player-one-name" class="{winner === "player-one" ? "winner-name" : "loser-name"}">{match.PlayerOneName}</span>
      </div>
      <div data-testid="player-one-score" class="col-span-1 text-center {winner === "player-one" ? "winner-score" : "loser-score"}">{match.PlayerOneScore}</div>
      <div data-testid="winner-wedge" class="winner col-span-1 {winner}"></div>
      <div data-testid="player-two-score" class="col-span-1 text-center {winner === "player-two" ? "winner-score" : "loser-score"}">{match.PlayerTwoScore}</div>
      <div class="text-left col-span-4">
        <Flag country={match.PlayerTwoCountry}/>
        <span data-testid="player-two-prefix" class="text-gray-500">{match.PlayerTwoPrefix ? match.PlayerTwoPrefix + " ": ""}</span>
        <span data-testid="player-two-name" class="{winner === "player-two" ? "winner-name" : "loser-name"}">{match.PlayerTwoName}</span>
      </div>
    </div>
  </div>
</div>

<style>
.loser-name {
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 0.6);
}
.loser-score {
  color: rgba(255, 255, 255, 0.6);
}
.winner {
  width: 0;
  height: 0;
  position: relative;
  top: .5em;
  left: 50%;
}
.winner-name {
  overflow-wrap: break-word;
  @apply font-bold;
}
.winner-score {
  @apply font-bold;
}
.player-one {
  border-top: 5px solid transparent;
  border-right: 10px solid rgba(255, 255, 255, 0.87);
  border-bottom: 5px solid transparent;
}
.player-two {
  border-top: 5px solid transparent;
  border-left: 10px solid rgba(255, 255, 255, 0.87);
  border-bottom: 5px solid transparent;
}
.round-text {
  text-align: center;
}
.tournament-event-text {
  text-align: center;
  font-size: 18px;
  margin-bottom: 1.5rem;
}
</style>
