<script>
import { slide } from 'svelte/transition';

let hideMenu = true;
const toggleMenu = () => {
	hideMenu = !hideMenu;
}
</script>

<div class={"layout-container"}>
  <div class="sticky top-0 mb-4 lg:mb-8" style="z-index: 999">
		<nav transition:slide|local class="flex items-center justify-between flex-wrap bg-paper p-4">
			<div class="flex items-center flex-shrink-0 text-white mr-6 pl-2 lg:pl-8">
				<span class="font-semibold text-xl tracking-tight">Statsu</span>
			</div>
			<div class="block lg:hidden">
				<button class="flex items-center px-3 py-2 border rounded text-gray-200 border-gray-200 hover:text-white hover:border-white" on:click={toggleMenu}>
					<svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
				</button>
			</div>
			<div class="w-full hidden flex-grow lg:flex lg:items-center lg:w-auto lg:test">
				<div class="text-sm lg:flex-grow">
					<a href="/#/h2hsearch" class="{window.location.hash === '#/h2hsearch' ? 'current-page ' : ''}nav-link p-2 hover:no-underline block mt-4 lg:inline-block lg:mt-0 text-gray-600 mr-4">
						Head To Head
					</a>
				</div>
			</div>
			{#if hideMenu === false}
			<div transition:slide class="w-full flex-grow lg:hidden lg:items-center lg:w-auto lg:test">
				<div class="text-sm">
					<a href="/#/h2hsearch" class="{window.location.hash === '#/h2hsearch' ? 'text-white-override' : ''} nav-link p-2 hover:no-underline block mt-4 lg:inline-block lg:mt-0 text-gray-600 mr-4">
						Head To Head
					</a>
				</div>
			</div>
			{/if}
		</nav>
	</div>
  <slot></slot>
</div>

<style>
.nav-link {
  @apply rounded border border-transparent;
}
.current-page {
	@apply text-white border-white;
}
.nav-link:visited {
	@apply text-gray-600;
}
.current-page:visited {
	@apply text-white;
}
.nav-link:hover {
	@apply no-underline text-white border-white;
}
.expansion .hidden{
	overflow: hidden;
}
.expansion {
	overflow: auto;
	transition-property: all;
	transition-duration: .5s;
}
.text-white-override {
	color: #fff!important;
}
</style>
