<script>
import Flag from "./Flag.svelte"

export let result;

</script>

<main>
<span><Flag country={result.Country}/><span class="prefix">{result.Prefix ? result.Prefix + ' ' : ''}</span>{result.Name}</span>
</main>


<style>
.prefix {
  @apply text-gray-500;
}
</style>
