<script>
import { debounce } from 'lodash';
import Autocomplete from './Autocomplete.svelte';
import PlayerResult from './PlayerResult.svelte';

export let className = "";
export let debounceTime = 250;
export let displayValue = "";
export let storeField = {};
export let storeFieldName = "";

let data = [];
let loading = false;
let dt = debounceTime;

function getSuggestedValue(list, index) {
  storeField.set(list[index][storeFieldName]);
  return list[index][displayValue];
}
async function searchPlayer(event) {
  loading = true;
  const response = await fetch('https://api.statsu.gg/api/players/search', {
    method: "POST",
    body: JSON.stringify({
      "Name": event.detail
    })
  });
  const json = await response.json();
  data = json.data;
  storeField.set("");
  loading = false;
}

function startLoading() {
  storeField.set("");
  loading = true;
}

</script>

<div class={className}>
  <Autocomplete
    getSuggestedValue={getSuggestedValue}
    suggestions={data}
    on:input={startLoading}
    on:input={debounce(searchPlayer, dt)}
    loading={loading}
    let:suggestion={suggestion}
  >
    <PlayerResult result={suggestion}/>
  </Autocomplete>
</div>
