<script>
import HeadToHeadList from '../component/HeadToHeadList.svelte';
import SearchField from '../component/SearchField.svelte';

import {
  h2hPlayerOne,
  h2hPlayerTwo
} from '../store/values.js';

let data = [];
let empty = false;
let error = false;
let errorObject = {};
let h2hPlayerOneValue;
let h2hPlayerTwoValue;
let loading = false;

h2hPlayerOne.subscribe(value => {
  h2hPlayerOneValue = value;
});
h2hPlayerTwo.subscribe(value => {
  h2hPlayerTwoValue = value;
});

async function h2hSearch() {
  if(h2hPlayerOneValue && h2hPlayerTwoValue) {
    empty = false;
    error = undefined;
    loading = true;
    try {
      const response = await fetch('https://api.statsu.gg/api/matches/h2hsearch', {
        method: 'POST',
        body: JSON.stringify({
          SearchIdOne: h2hPlayerOneValue,
          SearchIdTwo: h2hPlayerTwoValue
        })
      });
      const json = await response.json()
      data = json.data || data;
      if(!data.length) {
        empty = true;
      }
    } catch(e) {
      error = true;
      errorObject = e;
    } finally {
      loading = false;
    }
  }
}

</script>

<div class="container mx-auto">
  <div class="grid grid-cols-2 gap-4 pb-2 pl-2 pr-2">
    <div class="z-20"><SearchField className={"h2h-search"} displayValue={"Name"} storeField={h2hPlayerOne} storeFieldName={"Id"}/></div>
    <div class="z-20"><SearchField className={"h2h-search"} displayValue={"Name"} storeField={h2hPlayerTwo} storeFieldName={"Id"}/></div>
  </div>
  <div class="h2h-search-button-container">
    {#if (h2hPlayerOneValue && h2hPlayerTwoValue)}
      <button class="btn btn-blue" on:click={h2hSearch}>Search Matches</button>
    {/if}
  </div>
  <div class="h2h-search-results p-2">
    <HeadToHeadList
      data={data}
      empty={empty}
      loading={loading}
      state={{playerOne: h2hPlayerOneValue, playerTwo: h2hPlayerTwoValue}}
    />
  </div>
</div>

<style>
:global(.h2h-search .autocomplete .input) {
  background-color: #222222;
  border: 1px solid #121212;
}
:global(.h2h-search .autocomplete .autocomplete-result:hover) {
  background-color: rgba(255, 255, 255, 0.08);
}
:global(.h2h-search .autocomplete .autocomplete-results) {
  background-color: #222222;
  border: 1px solid #121212;
  max-height: 15rem;
}
.h2h-search-button-container {
  padding: 10px 0px;
  text-align: center;
}
.h2h-search-results {
  max-height: 85vh;
  overflow: auto;
  width: 100%;
}
</style>
