<script>
import Router from 'svelte-app-router';
import Redirect from './component/Redirect.svelte';

import Layout from './component/Layout.svelte';
import Tailwindcss from './Tailwindcss.svelte';
import H2HSearch from './page/H2HSearch.svelte';

let routes = {
	"/": [Redirect, {to: "/h2hsearch"}],
	"/h2hsearch": [H2HSearch]
}
</script>

<Tailwindcss/>
<Layout>
	<Router routes={routes}>
	  <Redirect to={"/h2hsearch"}></Redirect>
	</Router>
</Layout>
